<!-- src/app/pages/profile/profile.html -->

<div class="profile-container">
  <mat-card *ngIf="user" class="profile-card content-card">
    <mat-card-header>
      <div mat-card-avatar class="profile-avatar-wrapper">
        <img mat-card-avatar src="https://w7.pngwing.com/pngs/981/645/png-transparent-default-profile-united-states-computer-icons-desktop-free-high-quality-person-icon-miscellaneous-silhouette-symbol-thumbnail.png" alt="Profile Image" class="profile-avatar">
      </div>
      <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
      <mat-card-subtitle>User Profile</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>person</mat-icon>
          <span matListItemTitle>Username:</span>
          <span matListItemLine>{{ user.username }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon matListItemIcon>email</mat-icon>
          <span matListItemTitle>Email:</span>
          <span matListItemLine>{{ user.email }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon matListItemIcon>call</mat-icon>
          <span matListItemTitle>Phone:</span>
          <span matListItemLine>{{ user.phone }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon matListItemIcon>work</mat-icon>
          <span matListItemTitle>Role:</span>
          <span matListItemLine>{{ user.authorities && user.authorities.length > 0 ? user.authorities[0].authority : 'N/A' }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon matListItemIcon>check_circle_outline</mat-icon>
          <span matListItemTitle>Status:</span>
          <span matListItemLine>{{ user.enabled ? 'Active' : 'Disabled' }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions class="profile-actions">
      <button mat-raised-button color="primary">Update Profile</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="!user" class="profile-card no-user-card content-card">
    <mat-card-content>
      <p>User data not available. Please log in.</p>
    </mat-card-content>
  </mat-card>
</div>
