/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');



html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #FFFFFF;
}

.text-center{
    text-align: center;
}
.bootstrap-wrapper img.signup-img { /* Added .bootstrap-wrapper to increase specificity */
    max-width: 100px; /* Or whatever smaller value you desire */
    height: auto;
}
.ml20{
    margin-left: 20px !important;
}
.mr20{
    margin-right: 20px !important;
}
.mt20{
    margin-top: 20px !important;
}
.mb20{
    margin-bottom: 20px !important;
}
.ml10{
    margin-left: 10px !important;
}
.mr10{
    margin-right: 10px !important;
}
.mt10{
    margin-top: 10px !important;
}
.mb10{
    margin-bottom: 10px !important;
}

.crostext h3 { /* Target the h3 element specifically within .crostext */
  font-family: 'Croissant One', cursive;
  font-size: 20px;
  color: rgb(0,0,0); /* Or 'black' for simplicity */
  /* Remove any extra characters if present from previous attempts */
}
