<!-- src/app/pages/user/pages/start-quiz/start-quiz.html -->

<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <mat-card class="mt20">
                    <mat-card-title class="card-title">Quiz: {{ quizTitle }}</mat-card-title>
                    <mat-card-content class="ml20">

                        <div class="questions-section">
                            <mat-list *ngIf="questions.length > 0">
                                <mat-list-item *ngFor="let q of questions; let i = index">
                                    <p class="question-number"><b>{{ i + 1 }}.</b></p>
                                    <p class="question-content">{{ q.content }}</p>

                                    <div class="options-group">
                                        <mat-radio-group [(ngModel)]="q.givenAnswer">
                                            <mat-radio-button [value]="q.option1"> {{ q.option1 }}</mat-radio-button>
                                            <mat-radio-button [value]="q.option2"> {{ q.option2 }}</mat-radio-button>
                                            <mat-radio-button [value]="q.option3"> {{ q.option3 }}</mat-radio-button>
                                            <mat-radio-button [value]="q.option4"> {{ q.option4 }}</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <mat-divider></mat-divider>
                                </mat-list-item>
                            </mat-list>
                        </div>

                        <div class="text-center mt20">
                            <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Quiz</button>
                        </div>
                    </mat-card-content>
                </mat-card>

                <div *ngIf="isSubmit" class="mt20">
                    <mat-card>
                        <mat-card-title>Quiz Result</mat-card-title>
                        <mat-card-content>
                            <p>Marks Got: <b>{{ marksGot }}</b></p>
                            <p>Correct Answers: <b>{{ correctAnswers }}</b></p>
                            <p>Attempted: <b>{{ attempted }}</b></p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div class="col-md-3">
                <mat-card class="mt20">
                    <mat-card-title>Progress</mat-card-title>
                    <mat-card-content class="text-center">
                        <h1 class="text-primary">{{ getFormattedTime() }}</h1>
                        <button mat-raised-button color="accent" (click)="submitQuiz()">Submit Quiz</button>
                    </mat-card-content>
                </mat-card>
                <ngx-ui-loader
                    [text]="'Loading...'"
                    [fgsType]="'ball-spin-clockwise'"
                    [fgsColor]="'#ffc107'"
                    [bgsOpacity]="0.5"
                    [bgsColor]="'#000000'"
                    [fgsSize]="60"
                    [bgsBlur]="10"
                    [overlayColor]="'rgba(255,255,255,0.8)'"
                ></ngx-ui-loader>
            </div>
        </div>
    </div>
</div>
